<script>
	var yiliaConfig = {
		mathjax: <%=theme.mathjax%>,
		isHome: <%=is_home()%>,
		isPost: <%=is_post()%>,
		isArchive: <%=is_archive()%>,
		isTag: <%=is_tag()%>,
		isCategory: <%=is_category()%>,
		open_in_new: <%=theme.open_in_new%>,
		toc_hide_index: <%=theme.toc_hide_index%>,
		root: "<%=config.root%>",
		innerArchive: <%=theme.smart_menu.innerArchive ? true : false%>,
		showTags: <%=(theme.slider && theme.slider.showTags) ? true : false%>
	}
</script>


<%- partial('script') %>

<% if (theme.mathjax){ %>
<%- partial('mathjax') %>
<% } %>
<div>
	<script>
	var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "https://hm.baidu.com/hm.js?2ced93ef75fe43e03899b63a5ef27dcc";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
</div>
